In [1]:
#cosas a importar
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pylab as plt    # import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# cargar los datos
df = pd.read_csv('../Data/attacks.csv', encoding='latin1')# encoding='latin1' para corregir un error
pd.set_option('display.max_columns', None)# Muestra todas las columnas
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#guardar las dimensiones originales del dataframe
dim_original = df.shape
df.shape
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
# poner todas las columnas en minuscula
df.columns = [e.lower().replace(' ','_').replace('.','') for e in df.columns]
df.columns
#observamos que varias columnas no tienen nombre:'unnamed:_22','unnamed:_23' :
df['unnamed:_22'].unique()
df['unnamed:_23'].unique()# las vemos un poco por encima

array([nan, 'Teramo', 'change filename'], dtype=object)

In [5]:
#para saber el tipo de datos que manejamos
df.dtypes
# vemos que algunas columnas no tienen el tipo esperable:
error_type = ['case_number', 'date', 'age', 'time', 'case_number1', 'case_number2']

In [6]:
#Valores nulos :
df.info(memory_usage='deep')# vemos la cantidad de valores nulos por columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex_                    5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species_                3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number1            6302 non-null   object
 20  case_number2            6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [7]:
valores_nulos = df.isnull().sum().sum()# valores nulos totales en columnas( primer sum()) y en filas(segundo)
valores_nulos

488276

In [8]:
nan_cols = df.isna().sum()#miro las columnas con valores nulos #df.isnull().sum()---> Es lo mismo
nan_cols[nan_cols>0] #miro las columnas donde hay valores nulos( si hay valores nulos la suma tiene que ser mayor que 0)

case_number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex_                      19986
age                       22252
injury                    19449
fatal_(y/n)               19960
time                      22775
species_                  22259
investigator_or_source    19438
pdf                       19421
href_formula              19422
href                      19421
case_number1              19421
case_number2              19421
original_order            19414
unnamed:_22               25722
unnamed:_23               25721
dtype: int64

In [9]:
nan_rows = df.isna().sum(axis=1)#miro las filas con valores nulos 
nan_rows[nan_rows > 20] #miro las filas donde hay valores nulos( si hay valores nulos la suma tiene que ser mayor que 0)
len(nan_rows[nan_rows > 20])

19421

In [10]:
df.drop(index=nan_rows[nan_rows > 20].index, inplace=True)#eliminamos todas las filas cuyos valores nulos sean superiores a 20

In [24]:
df.shape , dim_original

((6302, 24), (25723, 24))

In [12]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6301 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex_                    5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species_                3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number1            6302 non-null   object
 20  case_number2            6302 non-null   object
 21  original_order          6302 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 9.4 MB

In [13]:
#nota importante sobre las columnas:****IMPORTANTE****
# las columnas date, case_number, case_number1, case_number2, son practicamente iguales
#--> convertir las tres primeras a float y comparar si son iguales las 4
#// href_formula y href son iguales comparar si son iguales
#las columnas unnamed:_22 unnamed:_23 son practicamente nulas
#hay columnas que para el analisis tampoco son relevantes: name,

In [14]:
#vamos a crear un nuevo data frame sin las columnas duplicadas por si lo necesitamos:
bad_columns = ['case_number','data', 'case_number1', 'case_number2', 'href_formula', 'unnamed:_22', 'unnamed:_23']
new_df = df.drop(columns = bad_columns)
new_df.shape

(6302, 18)

In [ ]:
#vamos a limpiar las columnas date, case_number, case_number1, case_number2, son practicamente iguales:

In [57]:
# Lo primero es poner los valores de las tres celdas en el mismo formato
# Eliminamos las letras de los valores de las celdas:
df['case_number'] = df['case_number'].str.replace('[a-zA-Z]', '', regex=True)
df['case_number1'] = df['case_number1'].str.replace('[a-zA-Z]', '', regex=True)
df['case_number2'] = df['case_number2'].str.replace('[a-zA-Z]', '', regex=True)

# comprobamos donde no son iguales:
son_iguales = df['case_number1'].equals(df['case_number2'])
#comprobamos que case_number, case_number1 son iguales pero no case_number2.Buscamos donde no
indices_filas_diferentes = df.loc[df['case_number1'] != df['case_number2']].index
indices_filas_diferentes               #hay 19 valores diferentes entre case_number/case_number1 y case_number2
df.iloc[5488]

case_number                                                      1905.09.06
date                                                   Reported 06-Sep-1905
year                                                                 1905.0
type                                                               Provoked
country                                                                 USA
area                                                                Florida
location                                       Fort Pierce, St Lucie County
activity                                                            Fishing
name                                                            David Curry
sex_                                                                      M
age                                                                     NaN
injury                    Lacerations to leg from hooked shark PROVOKED ...
fatal_(y/n)                                                               N
time                                                                    NaN
species_                                                                NaN
investigator_or_source                       Muncie Evening Press, 8/6/1913
pdf                                                  1905.09.06.R-Curry.pdf
href_formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
case_number1                                                     1905.09.06
case_number2                                                    1905.09.06.
original_order                                                        815.0
unnamed:_22                                                             NaN
unnamed:_23                                                             NaN
Name: 5488, dtype: object

In [17]:
df['case_number'].unique().shape               #= 6286
null_values = df['case_number'].isnull().sum() #Numero de valor nulos = 1 
filas_nulas = df[df['case_number'].isnull()]   
indices_filas_nulas = filas_nulas.index
indices_filas_nulas                            # el 5488 es el indice de la fila en el que el valor es nulo
df.iloc[5488]                                  # vemos si tiene valores relacionados en las columnas que son "iguales". Si los tiene
df.loc[5488, ['case_number','case_number1']] = '1905.09.06'     #cambiamos el dato por el que hemos encontrado.

In [18]:
df['case_number1'].unique().shape                                                  #=6285
null_values = df['case_number1'].isnull().sum()                                    # Numero de valos nulos = 0
indices_filas_diferentes = df.loc[df['case_number'] != df['case_number1']].index
indices_filas_diferentes

Int64Index([  34,  117,  144,  217,  314,  334,  339,  390,  560, 3522, 3795,
            3880, 4403, 4425, 4949, 5275, 5358, 5777, 5883, 5944, 6009, 6122],
           dtype='int64')

In [19]:
df['case_number2'].unique().shape#=6286
null_values = df['case_number1'].isnull().sum()# Numero de valos nulos = 0
null_values

0

In [20]:
df['year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [61]:
# vamos a hacer una pequeña investigacion en la columna name:
df['name'].isnull().sum() #210 valores nulos

0

In [60]:
df['name'] = df['name'].fillna('unknown') #rellenamos los val. nulos con unknow
df['name'].isnull().sum()                 #comprobamos otra vez los valores nulos, 0 esta vez

0

In [68]:
valores_unicos = df['name'].value_counts()
valores_repetidos = valores_unicos[valores_unicos != 1].index
valores_repetidos

Index(['male', 'unknown', 'female', 'boy', '2 males', 'boat', 'child', 'males',
       'sailor', 'Anonymous', 'a sailor', 'girl', 'fisherman', 'a pearl diver',
       'Unidentified', 'a soldier', 'a native', '2 fishermen', 'Arab boy',
       'black male', 'Unknown', 'Andre Hartman', '2 women', 'Japanese diver',
       'aboriginal male', ' male', 'woman', 'Russian male', 'M.C.',
       'Zulu male', 'native boy', 'John Williams', 'dinghy', 'Gordon Harmer',
       'Rory OConnor', 'Mr. Meyer', 'Michael Massey', 'Hideo Ishida',
       'a pilot', 'male, a Japanese fisherman',
       'boat, occupant: Danie Schoeman', '12' dinghy', 'William Black',
       'Coast Guard personnel', 'Fijian girl', ' 2 males', 'soldier ',
       'Davies', 'Anton Bosman', 'Indian male', '2 men', 'Iona Asai', 'native',
       'Andy Austin', 'Len Jones', 'Greg Pickering', 'John Hayes', 'fishermen',
       'crew', 'a school teacher', 'Charles Cook', 'Gary Johnson',
       'a native fisherman', 'Gerjo Van Niekerk', 'Rafael Hermes Thomas',
       'American male', 'Hans Hass', 'Robert Martin', '"a youth"', '3 males',
       'Rodney Orr', 'Parang', 'Ali', 'teen', 'John Ford',
       'Japanese fisherman', 'Mathew Vickers', 'Seth Mead', 'Carey Ford',
       'Indian female', 'John Bolling', 'Theirry Mercredi',
       'skiboat, occupant: Danie Schoeman', 'a local dignitary', 'Kenny Burns',
       'Morris M. Vorenberg', 'Thomas McDonald', 'Ken Howell'],
      dtype='object')

In [94]:
df[df.duplicated(subset = ['name', 'fatal_(y/n)'])]

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order,unnamed:_22,unnamed:_23
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
9,2018.05.26.,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.,2018.05.26.,6294.0,NaN,NaN
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,NaN,NaN
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,NaN,"Minor injury, marks on board",N,11h00,NaN,"B.Jacob, Dispatch Live, 5/12/2018",2018.05.12-EastLondon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.12,2018.05.12,6288.0,NaN,NaN
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6293,.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,.0009,.0009,10.0,NaN,NaN
6295,.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,.0007,.0007,8.0,NaN,NaN
6297,.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,.0005,.0005,6.0,NaN,NaN
6299,.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,.0003,.0003,4.0,NaN,NaN
6301,.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,.0001,.0001,2.0,NaN,NaN

In [101]:
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [109]:
#Analisis preliminar de YEAR
df['year'].unique().shape # 250 valores
valores_nulos = df['year'].isnull().sum() # 2 valores nulos

2

In [115]:
#Analisis preliminar de type:
df['type'].unique().shape # 9 
#valores_nulos = df['type'].isnull().sum() # 4 valores nulos

(9,)

In [124]:
#Analisis preliminar de country 
df['country'].unique().shape # 213
df['country'].unique()#' PHILIPPINES' cuidado; mayus y minus
valores_nulos = df['country'].isnull().sum() # 50 valores nulos
valores_nulos

50

In [127]:
#Analisis preliminar de area
df['area'].unique().shape # 826
df['area'].unique() # 'Vava\x92u', 12 miles off the north coast' , '19S, 178?E', '9.35N 79.35W'
valores_nulos = df['area'].isnull().sum() # 455 valores nulos, rellenar con country o location
valores_nulos

455

In [130]:
#Analisis preliminar de location
df['location'].unique().shape # 4109
df['location'].unique() 
valores_nulos = df['location'].isnull().sum() # 540 valores nulos
valores_nulos

540

In [134]:
#Analisis preliminar de activity
df['activity'].unique().shape # 1533
df['activity'].unique()
valores_nulos = df['activity'].isnull().sum() # 544 valores nulos
valores_nulos

544

In [138]:
#Analisis preliminar name
df['name'].unique().shape #5230
df['name'].unique()
valores_nulos = df['year'].isnull().sum() # 2 valores nulos
valores_nulos

2

In [142]:
#Analisis preliminar sex_ cambiar nombre quitando_
df['sex_'].unique().shape # 7
df['sex_'].unique() # ['F', 'M', nan, 'M ', 'lli', 'N', '.'] regex cuando encuentres M devuelves true cuando tengas F devuelves False
valores_nulos = df['sex_'].isnull().sum() # 565 valores nulos
valores_nulos

565

In [145]:
#Analisis preliminar de age
df['age'].unique().shape #158
df['age'].unique() # cuidado con espacios, strings, varios con &
valores_nulos = df['age'].isnull().sum() # 2831 valores nulos
valores_nulos

2831

In [150]:
#Analisis preliminar de injury
df['injury'].unique().shape # 3738
df['injury'].unique() # cuidado mucho Fatal--- importante para la siguiente columna
valores_nulos = df['injury'].isnull().sum() # 28 valores nulos
valores_nulos

28

In [155]:
#Analisis preliminar de fatal_(y/n)
df['fatal_(y/n)'].unique().shape # 9
df['fatal_(y/n)'].unique() # ['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y']
valores_nulos = df['fatal_(y/n)'].isnull().sum() # 539 valores nulos
valores_nulos

539

In [159]:
#Analisis preliminar de time
df['time'].unique().shape # 367
df['time'].unique()       #cuidado con string comprobar 'Possibly same incident as 2000.08.21'
valores_nulos = df['time'].isnull().sum() # 3354 valores nulos
valores_nulos

3354

In [164]:
#Analisis preliminar de una columna species_ cambiar nombre quitando_
df['species_'].unique().shape #1550
df['species_'].unique() # complicado 
valores_nulos = df['species_'].isnull().sum() # 2838 valores nulos
valores_nulos

2838

In [168]:
#Analisis preliminar de investigator_or_source
df['investigator_or_source'].unique().shape # 4970
df['investigator_or_source'].unique()
valores_nulos = df['investigator_or_source'].isnull().sum() # 17 valores nulos
valores_nulos

17

In [173]:
#Analisis preliminar de pdf
df['pdf'].unique().shape #6291
df['pdf'].unique()
valores_nulos = df['pdf'].isnull().sum() # 0 valores nulos
valores_nulos

0

In [177]:
#Analisis preliminar de href_formula
df['href_formula'].unique().shape #6291
df['href_formula'].unique()
valores_nulos = df['href_formula'].isnull().sum() # 1 valores nulos
valores_nulos

1

In [183]:
#Analisis preliminar de href
df['href'].unique().shape #6285
df['href'].unique()
valores_nulos = df['href'].isnull().sum() # 0 valores nulos
valores_nulos

0

In [187]:
#Analisis preliminar de original_order
df['original_order'].unique().shape #6301
df['original_order'].unique()
valores_nulos = df['original_order'].isnull().sum() # 0 valores nulos
valores_nulos

0