In [1]:
#cosas a importar
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pylab as plt    # import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# cargar los datos
df = pd.read_csv('../Data/attacks.csv', encoding='latin1')# encoding='latin1' para corregir un error
pd.set_option('display.max_columns', None)# Muestra todas las columnas
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#guardar las dimensiones originales del dataframe
dim_original = df.shape
df.shape
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
# poner todas las columnas en minuscula
df.columns = df.columns.str.lower().str.replace(' ', '_').str.rstrip('_')
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [5]:
#para saber el tipo de datos que manejamos
df.info(memory_usage='deep')# vemos la cantidad de valores nulos por columna
# vemos que algunas columnas no tienen el tipo esperable:
error_type = ['case_number', 'date', 'age', 'time', 'case_number1', 'case_number2']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [6]:
#Valores nulos :
df.info(memory_usage='deep')# vemos la cantidad de valores  no nulos por columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [7]:
#Valores nulos :
valores_nulos = df.isnull().sum().sum()# valores nulos totales en columnas( primer sum()) y en filas(segundo)
valores_nulos # = 488276
nan_cols = df.isna().sum()#miro las columnas con valores nulos #df.isnull().sum()---> Es lo mismo
nan_cols[nan_cols>0] #miro las columnas donde hay valores nulos( si hay valores nulos la suma tiene que ser mayor que 0)
len(nan_cols[nan_cols>0]) # = 24, todas las columnas tienen valores nulos

24

In [8]:
nan_rows = df.isna().sum(axis=1)#miro las filas con valores nulos 
nan_rows[nan_rows > 20] #miro las filas donde hay valores nulos( si hay valores nulos la suma tiene que ser mayor que 0)
len(nan_rows[nan_rows > 20])#  = 19421 filas con valores nulos

19421

In [9]:
#Primera limpia:
df.drop(index=nan_rows[nan_rows > 20].index, inplace=True)#eliminamos todas las filas cuyos valores nulos sean superiores a 20
df.shape , dim_original # Hemos reducido considerablemente el numero de filas al quitar las nulas

((6302, 24), (25723, 24))

In [10]:
#Analizamos las columnas y encontramos relaciones entre ellas:
# las columnas date, case_number, case_number1, case_number2, hablan de fechas(cada una tiene un formato diferente). Se podrian llegar a relacionar con las col 'year' y 'time'
#Las columnas ['country', 'area', 'location'] hablan de localizaciÃ³n.
#Las col injury y fatal relacionan el tipo de lesiÃ³n y si es mortal o no.
#Las col 'href' y 'href_formula' tambiÃ©n estÃ¡n relacionadas.
#Las dos ultimas col 'unnamed:_22', 'unnamed:_23' son bastante irrelevantes.

In [11]:
#DEFINICIÃN DEL OBJETIVO: Analizar si los ataques de tiburones se han vuelto mÃ¡s agresivos en los Ãºltimos aÃ±os.
#Para ello redefiniremos el nivel de injury ( leve, grave, muy grave, mortal) usando las col injury y fatal:
#- Categorizar los datos de la col injury( apoyandonos en fatal)
# Utilizaremos las 4 col relacionadas con la fecha para definir nuestro rango temporal:
#-Eliminaremos aquellas filas que no se encuentren en un rango temporal optimo( por no tener suficientes datos dentro del rang)

In [12]:
#ANALISIS DE LA AGRESIVIDAD:

In [13]:
#Analisis preliminar de 'injury'
df['injury'].unique().shape # = 3738 tipos.Demasidos todavÃ­a, definir rango temporal antes
df['injury'].unique()
valores_nulos = df['injury'].isnull().sum() # 28 valores nulos
valores_nulos

28

In [14]:
#Analisis preliminar de 'fatal_(y/n)'
df['fatal_(y/n)'].unique().shape # = 9
df['fatal_(y/n)'].unique() #['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y']
valores_nulos = df['fatal_(y/n)'].isnull().sum() # 539 valores nulos
valores_nulos

539

In [15]:
#Limpiar datos de 'fatal_(y/n)':
df['fatal_(y/n)'] = df['fatal_(y/n)'].str.lower().str.rstrip('_').str.lstrip('_')
df['fatal_(y/n)'].unique() #['n', 'y', nan, 'm', 'unknown', '2017'].
fila = df.loc[df['fatal_(y/n)'] == 'm'] #suponemos un error al introducir m = n por cercania en el teclado, Comprobado que la persona no vuelve a aparecer mÃ¡s adelante.
df.loc[285, 'fatal_(y/n)'] = 'n'
fila = df.loc[df['fatal_(y/n)'] == '2017'] #accidente ocurrido en 2012, sin sentido = unknown.
df.loc[786, 'fatal_(y/n)'] = 'unknown'
df.loc[df['fatal_(y/n)'] == 'unknown'].shape # = 72. Volveremos a ellos tras categorizar 'injury'.
df['fatal_(y/n)'].fillna('unknown', inplace = True) # rellenamos los nan con 'unknown'.Volveremos a ellos tras categorizar 'injury'.
df.loc[df['fatal_(y/n)'] == 'unknown'].shape # = 611.
df['fatal_(y/n)'].unique() # ['n', 'y', 'unknown']
df.shape , dim_original

((6302, 24), (25723, 24))

In [16]:
#Limpiar datos de 'injury':
df['injury'] = df['injury'].str.lower().str.rstrip('_').str.lstrip('_')
df.loc[df['fatal_(y/n)'] == 'y', 'injury'] = 'fatal' # para cada valor que sea y(yes) en 'fatal' queremos que injury = 'fatal'
df['injury'].unique().shape # = 3222 tipos diferentes todavÃ­a
filt = df['injury'].str.contains('fatal', na=False) # comprobamos que valores contienen 'fatal', 
injury_fatal = df.loc[filt, 'injury']
injury_fatal # = 1447 con fatal en algÃºn punto
filt1 = df['injury'].str.contains('fatal') & df['injury'].str.contains('questionable')
print(df['injury'][5590]) # hay un dato cuestionable -> 5590. No se sabe la especie.Eliminamos fila porque no se sabe si es o no un tiburon
df.drop(index = 5590)
df.loc[df['injury'] == 'fatal'].shape # = 1409 con sÃ³lo fatal.Vamos a rellenar todos los que tengan fatal con fatal directamente
df['injury'] = df['injury'].str.replace('.*fatal.*', 'fatal', regex = True)
df.loc[df['injury'] == 'fatal'].shape # = 1447 con 'fatal'.Limpio.
df['injury'].isnull().sum() # = 27. Uno menos que antes
df['injury'].fillna('unknown', inplace = True)
df.loc[df['injury'] == 'unknown'].shape # = 29
df['injury'].isnull().sum() # = 0 . No sabemos que tipo de lesiÃ³n se produjo. Asi que vamos a eliminar las filas porque no son relevantes para nuestro objeto de estudio
df.drop(df.loc[df['injury'] == 'unknown'].index, inplace = True)
df['injury'].unique().shape # = 3189 tipos difetentes. Complicado aÃºn, vamos a tratar de eliminar las filas que no sepamos si son ataques de tiburÃ³n y  que estÃ©n fuera de nuestro rango temporal

df.loc[df['fatal_(y/n)'] == 'unknown'].shape # = 531
df.loc[df['injury'] == 'fatal', 'fatal_(y/n)'] = 'y' #limpiamos col 'fatal' con 'injury'
df.loc[df['fatal_(y/n)'] == 'unknown'].shape # = 531 no ha aumentado
df.shape , dim_original

reported fatal, but this is a questionable incident

((6273, 24), (25723, 24))

In [21]:
#Analisis preliminar de 'species':
df['species'].unique().shape                 # = 1547 tipos
df['species'].unique()
valores_nulos = df['species'].isnull().sum() # 2821 valores nulos
valores_nulos

0

In [41]:
#Limpiar datos de 'species':queremos buscar datos en los que no se este seguro que sea un tiburon. La especie no nos importa
df['species'] = df['species'].str.lower().str.rstrip('_').str.lstrip('_')
df['species'].fillna('unknown', inplace = True)
df['species'].unique().shape # = 1532 tipos
filtro = ~df['species'].str.contains(r'shark|unknown', regex=True)
valores = df[filtro]['species']
valores.shape # = 234 valores que no tienen shark
valores.unique().shape# = 49 valores unicos que no tienen shark, vamos a limpiarlos: si es questionable, invalido, eliminamos fila si incluye los char shar lo cambiamos por shark
valores.unique()
df = df[~df['species'].str.contains('questionable|invalid', case=False, na=False, regex=True)]
df['species'].unique().shape # = 1520 tipos
valores.unique().shape # = 45 valores unicos que no tienen shark
valores.shape # = 65 valores
df['species'] = df['species'].str.replace('.*shar|wobbegong|porbeagle|bronze whaler|hammerhead|spurdog|dogfish|blue pointer|c. .*', 'shark', regex=True) # Sustituimos todos los valores de la columna que contengan *shar* en algÃºn punto por 'shark'
valores.unique().shape # = 19 valores unicos que no tienen shark
valores.shape # = 34 valores en total
valores
new_df = df.loc[df['species'].isin(valores)] # almacenamos los valores que nos quedan en un nuevo dt
new_df.shape# comprobamos esos 34 valores, en los cuales no queda claro si es o no un tiburon
df.drop(new_df.index, inplace = True)#al no estar seguros si se trata o no de un tiburon, eliminamos las filas
df.loc[df['species']== 'unknown'].shape # Recordar que tenemos 2822 filas que no estamos seguros de que se trate de un tiburon
df.shape , dim_original

((6059, 24), (25723, 24))

In [19]:
#Analisis preliminar de 'year'
df['year'].unique().shape # = 250 valores
df['year'].unique()
#valores_nulos = df['year'].isnull().sum() # 2 valores nulos
#valores_nulos

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1748., 1742., 1738., 1733., 1723., 1721., 1703.,
       1700., 1642., 1595., 1580., 1543.,  500.,   77.,    5.,    0.])